<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='themes/' + session.get('theme', 'dark') + '.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <style>

        .gameGrid {
    
    display: grid;
      direction: ltr;
      grid-template-columns: repeat(7, 80px);
      grid-template-rows: repeat(5, 80px);
      gap: 4px;
      margin: 20px auto;
      grid-auto-flow: row;
      
    
      
    }
    .alignment {
        display: flex;
        justify-content: center;
    }
        svg{
          cursor: pointer;
        }
        @media (max-aspect-ratio: 1/1){

    .formatted{
        width: 100%;
    }
    .gameGrid {
      transform: scale(0.8);
      display: grid;
        direction: rtl;
        grid-template-columns: repeat(5, 80px);
        grid-template-rows: repeat(7, 80px);
        gap: 4px;
        margin: 20px auto;
        grid-auto-flow: column;
        
      
        
      }
        
    }

      </style>
    </head>
    <title>O Kontrantu</title>

    <body>

        <div class="centered ">
            <h2>Kontranto</h2>
            <div class="formatted" >
             
            <p> Bok! Kontranto je igra koju je osmislio profesor logike i sociologije gimnazije Franje Petrića Zadar <b><i><u>Siniša Matić</u></i></b>. Igra je osmišljena pod načelom <i>predvidi i budi nepredvidiv</i>. Igru je najlakše svladati igrajući ju. No ukratko, pravila igre glase ovako: </p>
            
            <p>Igrači imaju četiri figure i jedno su od dvije boje: crne ili bijele. Dvije figure su trokut, a dvije krug. <b>Za bijelog igrača vrijedi da pobjeđuje sudar ako su figure iste vrste</b> (npr. bijeli krug i crni krug se nađu na istom polju), <b>a za crnog ako su drukčije vrste</b> (npr. bijeli trokut i crni krug se nađu na istom polju).</p>
            
            <p>Prije početka runde igrači izaberu trokut ili krug. Ako izaberu isti lik, prvi igrač koji je poslao odluku je bijele, a ako ne izaberu, crne boje.</p>

            <p>Polje za igranje je veličine 7x5. Na prvom potezu igrači postave svoje figure na jedno od dopuštenih polja. Igrač jedino ne smije postaviti na polja drugog igrača. Ta polja su veličine 3x3 na njihovoj strani ploče.</p>
            
            <div class="alignment">
            <div class="gameGrid" id="empty"></div>
            
        </div>
            <p>Igrači donesu svoje poteze te ih pošalju. <b>Ne mogu vidjeti potez drugog igrača dok donose vlastiti potez.</b> Figure se smiju micati u 8 polja oko njih ili ostati na mjestu (nalik kralja iz šaha).  Vlastite figure se ne smiju staviti na isto polje. Sve figure se mogu micati unutar jednog poteza.</p>
        
            <p>Kad igrači stave jedno od svojih figura na isto polje, polje je zauzeto ovisno o vrstama tih figura. To polje je obojano u boju figure koja je pobjedila <b>sudar</b>. Igrač dobije jedan (1) bod za pobijeđeni sudar. Polje mora biti napušteno unutar tog poteza te se više ne može posjetiti.</p> 
            
            <div class="alignment">
            <div class="gameGrid" id="collision"></div>
            </div>
            <p>Može se dogoditi da se cijelo polje rastavi na manja polja, odvojena zauzetim poljima. U tim poljima vrijedi radi prevencije odugovlačenja, zbivat će se <b>izvanredni potezi</b>.</p>
        
            <p>Izvanredni potez se odvija u dvije situacije:
                
                    <p style="margin-bottom:-10px;">1. Ako je prošlo više poteza no što je ćelija unutar polja <b>bez sudara</b></p>    
                    <p>2. Ako figure unutar novog polja uopće nisu pomaknute nakon što se polje rastavilo</p>
            
            </p>

            <p>Provodi se na način da igrači izaberu figuru s kojom će ga provesti. Tada dobiju mogućnost ostati na svom polju ili otići na polje figure drugog igrača.</p> 

            <p>U slučaju da slete na isto polje, prate se uobičajena pravila sudara. No ako se zaobiđu, pravila sudara su obrnuta te je obojano novo polje onoga komu pravila sada idu u korist.</p>

            <div class="alignment">
                <div class="gameGrid" id="exclusive"></div>
                </div>

            <p>Partija završava kad se ispune barem jedno od uvjeta:</p>
            
                <p style="margin-bottom:-10px;">1. Jedno od igrača ima osamnaest (18) bodova, taj je pobjednik</p style="margin-bottom:-10px;">
                <p style="margin-bottom:-10px;">2. Igrač preda partiju, njegov je protivnik pobjednik</p style="margin-bottom:-10px;">
                <p style="margin-bottom:-10px;">3. Ako se ne može više doći do sudara, onaj s više bodova je pobjednik.</p style="margin-bottom:-10px;">
            
            <p>U slučaju da se ne može doći do sudara a igrači su izjednačeni u bodovima, pobjednik je onaj kojemu je trebalo manje vremena.</p>
 
            <p>Pravila nisu jednostavna. U Vašu korist prilažem Vam <a href="/static/pravila.pdf">originalna pravila, kako ih je napisao <b><i><u>S.M.</u></i></b></a>. Također Vam dajem link na originalnu verziju Kontranta na adresi <a href="https://kontranto.eu">kontranto.eu</a>. Želim Vam sretno razumijevanje ovih Pravila i svu sreću u Vašim partijama! </p>
            
        </div>
        <button onclick="location.href='/'" type="button"> Nazad</button>
        

</div>
<script>
    const empty = document.getElementById("empty");
    //create 35 cells
    for (let i = 0; i < 35; i++) {
        const cell = document.createElement("div");
        cell.classList.add("cell");
        
        if(["7", "8", "9", "14", "15", "16", "21", "22", "23"].includes(""+i)){
            cell.classList.add("restricted-left");
        }
        if(["11", "12", "13", "18", "19", "20", "25", "26", "27"].includes(""+i)){
            cell.classList.add("restricted-right");
        }
        empty.appendChild(cell);

    }
    const collision = document.getElementById("collision");
    //create 35 cells
    for (let i = 0; i < 35; i++) {
        const cell = document.createElement("div");
        if(i == 34 ){
            cell.innerHTML = `
  <svg height="76" class="piece black" width="76" xmlns="http://www.w3.org/2000/svg" id="circle">
    <circle cx="38" cy="38" r="35" stroke="white" stroke-width="3" fill="black" />
  </svg>
`;
        }
        if ( i== 5){
            cell.innerHTML = `
  <svg height="76" class="piece black" width="76" xmlns="http://www.w3.org/2000/svg" id="triangle">
    <polygon points="38,3 73,73 3,73" stroke="white" stroke-width="3" fill="black" />
  </svg>
    `;
        }
        if(i == 8 || i == 22){
            cell.innerHTML = `


  <svg height="76" class="piece white" width="76" xmlns="http://www.w3.org/2000/svg" id="triangle">
    <polygon points="38,3 73,73 3,73" stroke="black" stroke-width="3" fill="white" />
  </svg>
    `;}

    if (i == 10){
        cell.classList.add("white");
        cell.innerHTML = `
      <div style="display: flex; justify-content: center; align-content: center;">
<svg height="38" class="piece white" width="38" xmlns="http://www.w3.org/2000/svg" id="circle">
   <circle cx="19" cy="19" r="17" stroke="black" stroke-width="3" fill="white" />
</svg>
<svg height="38" class="piece black" width="38" xmlns="http://www.w3.org/2000/svg" id="circle">
  <circle cx="19" cy="19" r="17" stroke="white" stroke-width="3" fill="black" />
</svg>
</div>
      `;
    
    }
    if (i == 31){
        cell.classList.add("black");
        cell.innerHTML = `
      <div style="display: flex; justify-content: center; align-content: center;">
<svg height="38" class="piece white" width="38" xmlns="http://www.w3.org/2000/svg" id="circle">
   <circle cx="19" cy="19" r="17" stroke="black" stroke-width="3" fill="white" />
</svg>
  <svg height="38" class="piece black" width="38" xmlns="http://www.w3.org/2000/svg" id="triangle">
    <polygon points="19,3 35,35 3,35" stroke="white" stroke-width="3" fill="black" />
  </svg>
</div>
      `;
      
    }
    
        cell.classList.add("cell");
        

        collision.appendChild(cell);

    }
    const exclusive = document.getElementById("exclusive");
    //create 35 cells
    for (let i = 0; i < 35; i++) {
        
        const cell = document.createElement("div");
        cell.classList.add("cell");
        if ([7,26].includes(i)){
            cell.innerHTML = `


<svg height="76" class="piece white" width="76" xmlns="http://www.w3.org/2000/svg" id="triangle">
  <polygon points="38,3 73,73 3,73" stroke="black" stroke-width="3" fill="white" />
</svg>
  `;
        }
        if([12,28].includes(i)){
            cell.innerHTML = `
  <svg height="76" class="piece black" width="76" xmlns="http://www.w3.org/2000/svg" id="circle">
    <circle cx="38" cy="38" r="35" stroke="white" stroke-width="3" fill="black" />
  </svg>
`;
        }
        if ([2,31].includes(i)){
        cell.innerHTML =    `
  <svg height="76" class="piece white" width="76" xmlns="http://www.w3.org/2000/svg" id="circle">
    <circle cx="38" cy="38" r="35" stroke="black" stroke-width="3" fill="white" />
  </svg>

    `
        }
        if ([0,29].includes(i)){
            cell.innerHTML = `
  <svg height="76" class="piece black" width="76" xmlns="http://www.w3.org/2000/svg" id="triangle">
    <polygon points="38,3 73,73 3,73" stroke="white" stroke-width="3" fill="black" />
  </svg>
    `;}
        if ([3,10,16,23,30].includes(i)){
            cell.classList.add("black");}
        if ([9,17,24].includes(i)){
            cell.classList.add("white");}

        exclusive.appendChild(cell);

    }
        
</script>

    </body>
</html>
