<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='themes/' + session.get('theme', 'dark') + '.css') }}">

    </head>
    <title>{{error}}</title>

    <body>
        
        <div class="centered">

            <h1>{{error}}</h1>
            <p>{{errorDescription}}</p>
            <button onclick="history.back()" type="button"> Nazad</button>
        </div>

    

    </body>

</html>
