<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='themes/' + session.get('theme', 'dark') + '.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    
    <style>
        body {
                        margin: 0;
                        padding: 0;
                        
                        overflow: auto;
                    }
        
                    h3,h2 {
                        text-align: center;  
                    }
                    li {
                        margin-bottom: 10px;
                    }
                    .formatted {
                        max-width: 800px;
                        width: 100%;
                    }

            </style>
            <title>Uvjeti korištenja i pravila o privatnosti</title>
    </head>
    
    <body class="centered " style="height: auto;">

        <div >
            <h2 style="text-align: center;">Uvjeti korištenja i pravila o privatnosti</h2>
            <div class="formatted" style="text-align:left; ">
                
                <h3>1. Korisnički računi i podaci</h3>

                <ul>
                <li>
                    Prilikom izrade računa, morate unijeti korisničko ime i lozinku.
                </li>
                <li>
                    Lozinke su sigurno pohranjene u hashiranom obliku i ne mogu se pregledati niti pristupiti.
                </li>
                <li>
                    Imate pravo:
                    
                       <li>
                        Promijeniti korisničko ime i/ili profilnu sliku.
                       </li> 
                       <li>
                        Ukloniti profilnu sliku.
                       </li>
                       <li>
                        Izbrisati svoj račun. Napomena: Brisanje računa ne uklanja automatski sadržaj koji ste stvorili, poput podataka o igrama ili drugih unesenih sadržaja.
                       </li>
                    
                
                </li>
            </ul>
                <h3>2. Odgovornosti korisnika</h3>

                <ul>
                    <li>
                        Odgovorni ste za osiguravanje da bilo koji sadržaj koji kreirate, uključujući korisnička imena i profilne slike, ne sadrži štetne, nezakonite ili uvredljive materijale.
                    </li>
                    <li>
                        Zadržavamo pravo moderirati ili izbrisati bilo koji sadržaj ako je potrebno za usklađenost sa zakonima ili održavanje sigurnog okruženja.
                    </li>
                    <li>
                        Slažete se da ne snosimo odgovornost za sadržaj koji šaljete ili kreirate na ovoj web stranici.
                    </li>
                
                
                <h3>3. Igranje i sadržaj</h3>
                
                    <li>
                        Podaci o igrama, poput partija koje igrate, bilježe se kao dio funkcionalnosti web stranice.
                    </li>
                    <li>
                        Možete pristupiti svojim podacima o igrama, ali ih nije moguće ukloniti jer su dio kolektivnog iskustva platforme.
                    </li>
                    <li>
                        Sadržaj koji stvarate, poput igara, može biti javno dostupan drugim korisnicima.
                    </li>
                    <li>
                        Svako varanje, iskorištavanje grešaka ili druga zloupotreba igre strogo je zabranjena. Računi povezani s takvim radnjama mogu biti suspendirani ili izbrisani bez prethodne najave.
                    </li>
                
                </ul>
                <h3>4. Prijavljivanje i moderacija</h3>

                <ul>
                    <li>
                        Svi sadržaji koje generiraju korisnici podložni su moderaciji kako bi se osigurala usklađenost sa zakonima i našim uvjetima.
                    </li>
                    <li>
                    Korisnici mogu prijaviti nezakonit, štetan ili neprikladan sadržaj putem mehanizma za prijavu na platformi.
                </li>
                <li>
                    Prijave će se pregledati i obraditi u skladu s našim pravilima moderacije.
                </li>
                <li>
                    Štetni ili nezakoniti sadržaji mogu se ukloniti, a prekršitelji mogu biti suspendirani ili im računi mogu biti izbrisani.
                </li>

                
            </ul>
                <h3>5. Sigurnost</h3>
                <ul>
                    <li>
                        Web stranica koristi HTTPS za osiguranje prijenosa podataka.
                    </li>
                    <li>
                        Lozinke su pohranjene u hashiranom obliku radi njihove sigurnosti.
                    </li>
                    <li>
                        Iako nastojimo održavati sigurno okruženje, korisnici bi trebali imati praksu dobre sigurnosne navike, poput korištenja jakih, jedinstvenih lozinki.
                    </li>
                
                </ul>
                <h3>6. Podaci koje prikupljamo</h3>
            <ul>
                    <li>
                        Prikupljamo korisnička imena, hashirane lozinke i neobavezne profilne slike radi izrade računa i funkcionalnosti.
                    </li>
                    <li>
                        Pohranjujemo podatke vezane uz igre koje igrate na platformi.
                    </li>
                    <li>
                        Vaše korisničko ime sigurno je pohranjeno i zaštićeno na klijentskoj strani.
                    </li>
                    <li>
                        Prikupljamo samo podatke potrebne za osnovnu funkcionalnost web stranice. Ne prikupljamo nepotrebne podatke.
                    
                    </li>
                    
                </ul>
           
                              
        </div>
       
        

</div>
<button onclick="history.back()" type="button"> Nazad</button> 

    </body>
</html>
