<!DOCTYPE html>
<html>
    <head>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <form action="/auth" method="post">
        <div class="centered">

        
            <input name="username" placeholder="Ime" maxlength="24">
            <input name="password" type="password" placeholder="Lozinka">
            <div>
            <button name="action" value="register" type="submit">Registracija</button>
            <button name="action" value="login" type="submit">Prijava</button>

            </div>
            <div style="display: flex; flex-direction: row;">
            <label class="label" style="margin-top:8px" for="eeula"><a href="/eula">Prihvaćam uvjete</a></label>
            <input type="checkbox" name="eula" id="eeula">
        </div>
    </form>
        <p>Molim Vas lijepo da zapamtite Vaš račun. Hvala na razumijevanju.</p>
        <button onclick="location.href='/'" type="button"> Nazad</button>
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}
    </div>
    

    </body>
</html>
